@use "../variables/colors";

.name-creator {
  background-color: colors.$background-color;
  height: 4rem;
  color: colors.$primary-color;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
