@use "../variables/colors";

.game-buttons {
  height: 7rem;
  background-color: colors.$background-color;
  border-top: 1px solid gray;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;

  .green-button {
    width: 12rem;
    height: 3rem;
    border-radius: 20px;
    font-family: "Atomic Age", cursive;
    font-size: 2rem;
    color: colors.$primary-color;
    border-color: colors.$primary-color;
    background-color: inherit;
  }
}
