@use "../variables/colors";

.game-of-life {
  padding-left: 2rem;
  background-color: colors.$background-color;
  width: 100vw;
  display: flex;
  justify-content: center;
  min-width: 800px;

  .game-container {
    max-width: 800px;
    height: 800px;
    display: flex;
    flex: 1;
  }

  .game-of-life__column {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .game-of-life__pixel {
    border: 1px solid gray;
    flex: 1;
  }

  .hidden-pixel {
    border-style: none;
  }
}
